mixin preloader
	.preloader
		.pulse

mixin socials(className)
	ul(class= className + "__list")
		each value, key in pathSocials
			li(class=className + "__items")
				a(href=value class=className + "__link " + key)
mixin contacts(className)
	ul(class=className + "__list")
		each value, key in contacts
			li(class=className + "__items " + key)= value

mixin menuNav(className)
	ul(class=className + "__list")
		each key, value in menu
			li(class= className + "__items" + (value == "cosmetic" ? " active" : " "))
				if className == "footer-nav"
					if value != "news" && value != "diploma"&& value != "price" && value!="about"
							a(href=key.path class=className + "__link")= key.name
				else
					a(href=key.path class=className + "__link")= key.name
