mixin preloader
	.preloader
		.pulse

mixin socials(className)
	ul(class= className +"__socials-list")
		each value, key in pathSocials
			li(class="socials__items")
				a(href=value class="socials__link " + key)

mixin form
	form(action="#" method="post" class="presentation__form")
		.presentation__form-title
			label(for="email"
			class="label__email") Пройти обучение:
		input.presentation__input-email(id="email"
		name="email" type="email" required
		placeholder="введите сюда свой e-mail")
		.presentation__form-text и нажмите на кнопку ниже
		input(name="btn"
		type="submit"
		value="забрать систему").presentation__form-btn

mixin timer(count)
	case count
		when 0
		when 1
			.presentation__timer
				.presentation__timer-title доступ к системе будет закрыт через
				.countdown
				#note
		when 2
			.presentation__timer
				.presentation__timer-title доступ к системе будет закрыт через
				.countdown2
				#note2
		default
			.presentation__timer.presentation__timer_white
				.presentation__timer-title доступ к системе будет закрыт через
				div(class=`countdown${count}`)
				div(id=`note${count}`)

mixin presentationLeft(path, imgWrap = 'presentation__img-wrap')
	.presentation__bottom-left.wow
		div(class = imgWrap)
			img(src = path
			class="presentation__bottom-img")

mixin button
	.btn__title Включи льва
		span.text__yellow &nbsp;прямо сейчас!
	.ps__btn
		a(href="#js-form").btn__link
			| забрать систему!

mixin presentationRight(timerCount)
	.presentation__bottom-right.wow
		case timerCount
			when 0
			when 1
				h1.presentation__title-bottom#js-form л.е.в
				+form
				+timer(timerCount)
			when 2
				+form
				+timer(timerCount)
			default
				+button
				+timer(timerCount)


mixin mainPattern(path, classWrap = " ", imgWrap, timerCount)
	.container
		div(class=`presentation__bottom-wrap ${classWrap}`)
			+presentationLeft(path, imgWrap)
			+presentationRight(timerCount)

mixin sectionTitle(title)
	.section__title
		.container
			.section__title-text.wow
				| #{title}

mixin items (content)
	ul.ps__list
		each object, key in content
			li.ps__items.wow
				.ps__items-left
					if (content == problems)
						.ps__items-num= key
					else if (content == solution)
						svg(class=`solution__sprite ${key}`)
							use(xlink:href=`/assets/svg/sprite.svg#${key}`)
				div(class=`ps__items-right items__bg-${key}`)
					.ps__items-title= object['title']
					.ps__items-text
						p= object['text']

mixin menu(className = "")
	if (className == "-mobile")
		nav(class = `nav${className}`)
			ul(class = `nav__list${className}`)
				each value, key in nav
					li(class = `nav__items${className}`)
						a(href=`#${key}` class = `nav__items${className}_link`)= value
	else
		div(class = `header__nav${className}`)
			ul(class = `nav__list${className}`)
				each value, key in nav
					li(class = `nav__items${className}`)
						a(href=`#${key}` class = `nav__items-link`)= value